<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="~{layouts/master::head('Crowd Donating | Home')}" />
</head>
<body id="top" class="has-header-search">
	<th:block th:replace="~{layouts/master::header}" />


	<div class="charity-subheader-two">
		<span class="charity-footer-transparent"></span>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="charity-page-title">
						<h1>Registration</h1>
					</div>
					<ul class="charity-breadcrumb">
						<li class="active">Account confirmation</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 mt-50">
					<div class="row">

						<div class="col-md-12">
							<div class="charity-fancy-title">
								<div class="charity-fancy-title-wrap">
									<h2>Congratulation</h2>
								</div>
								<span th:text="#{messages.account.validation}"></span>
								<br/><br>
								<a th:href="@{/login}"
								class="cause-strip-btn charity-color charity-bordercolor"><span>Donate for a cause</span></a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<th:block th:replace="~{layouts/master::footer}" />
	<th:block th:include="~{layouts/master::js}" />
</body>
</html>
