<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Paypal Sandbox</title>
  <style>
    h1, h3 {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: lighter;
    }
  </style>
</head>
<body>
<form method="post" th:action="@{/paypal/pay}">
  <h1> Connection Error: </h1>
  <h3> Please verify your internet connection </h3>
</form>
</body>
</html>