<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{layouts/master::head('Crowd Donating | Home')}"/>
  <link th:href="@{/css/shortcodes/blog.css}" rel="stylesheet">
</head>
<body id="top" class="has-header-search">
<th:block th:replace="~{layouts/master::header}"/>
<section class="blog-section pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col m8">
        <div class="col m12">
          <div class="card hoverable mt-0">
            <div class="card-content p-0">
              <div class="posts-content single-post">
                <article class="post-wrapper">
                  <header class="entry-header-wrapper clearfix">
                    <div class="author-thumb waves-effect waves-light">
                      <a href="#">
                       
                      </a>
                    </div>
                    <div class="entry-header">
                      <h2 class="entry-title mb-0" th:text="${event.title}"></h2>
                      <div class="entry-meta">
                        <ul class="display-inline-flex m-0">
                          
                          <li>
                            <i class="fa fa-clock-o"></i>
                            <a th:text="${#calendars.format(event.plannedDate,'MMM dd, yyyy')}"
                               href="#"></a>
                          </li>
                        </ul>
                      </div>
                      <div class="">
                        <form th:action="@{'/events/' + ${event.id}}" th:method="delete">
                          <button th:type="submit" class="btn right red"onclick=" return confirm('Are you sure you want to Remove?');">Delete</button>
                        </form>
                        <a th:href="@{'/events/update/' + ${event.id}}" class="btn right mr-8">Update</a>
                      </div>
                    </div>
                  </header>
                  <div class="thumb-wrapper">
                    <img th:src="@{'/images/event/' + ${event.image}}"
                         class="img-responsive" alt="">
                  </div>
                  <div class="entry-content">
                    <p th:text="${event.description}"></p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<th:block th:replace="~{layouts/master::footer}"/>
<th:block th:include="~{layouts/master::js}"/>
</body>
</html>