<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/select2-materialize.css}" rel="stylesheet">
<th:block th:include="~{layouts/master::head('Crowd Donating | Home')}" />
</head>
<body id="top" class="has-header-search">
	<th:block th:replace="~{layouts/master::header}" />

	<section class="page-title ptb-50">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h2>Event</h2>
					<ol class="breadcrumb">
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/event}">Event</a></li>
						<li class="active">Update</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="section-padding pt-0">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="row">
						<form th:action="@{/events}" th:method="put" th:object="${event}"
							id="update-form" enctype="multipart/form-data"
							class="col s8 offset-s2">
							<input type="hidden" id="id" name="id" th:value="${event.id}" />
							<div class="input-field">
								<input type="text" name="title" th:value="${event.title}"
									id="title" /> <label for="title">Title</label>
							</div>
							<div class="input-field">
								<textarea name="description"
									class="validate materialize-textarea" id="description"
									th:text="${event.description}"></textarea>
								<label for="description">Description</label>
							</div>
							<div class="input-field">
								<input type="text" class="validate datepicker"
									name="plannedDate" id="plannedDate"
									th:value="${#calendars.format(event.plannedDate,'MMM dd, yyyy')}"
									required> <label for="plannedDate">planned Date</label>
							</div>
							<div class="input-field file-field">
								<div class="btn">
									<span><i class="material-icons">image</i></span> <input
										type="file" name="imageFile" id="image">
								</div>
								<div class="file-path-wrapper">
									<input type="text" class="file-path validate" title="image">
								</div>
							</div>

							<div class="col s8 offset-s2">
								<div class="input-field display-flex">
									<div class="flex-1"></div>
									<button class="btn-large waves-effect waves-light">
										Submit <i class="material-icons right">send</i>
									</button>
								</div>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</section>

	<th:block th:replace="~{layouts/master::footer}" />
	<th:block th:include="~{layouts/master::js}" />
	<script th:src="@{/js/select2.min.js}"></script>
</body>
</html>