<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/select2-materialize.css}" rel="stylesheet">
    <th:block th:include="~{layouts/master::head('Crowd Donating | Home')}"/>
</head>
<body id="top" class="has-header-search">
<th:block th:replace="~{layouts/master::header}"/>

<section class="page-title ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Sponsors</h2>
                <ol class="breadcrumb">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/sponsors}">Sponsors</a></li>
                    <li class="active">Add</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <form th:action="@{/sponsors}" method="post" th:object="${sponsor}"
                          enctype="multipart/form-data"
                          class="col s8 offset-s2">
                        <div class="input-field">
                            <input type="text" name="name" th:value="${sponsor.name}" id="name"
                                   th:class="|validate ${errors.containsKey('name') ? 'invalid' : ''}|">
                            <label for="name">Name</label>
                            <span class="helper-text" th:data-error="${errors.get('name')}" data-success=""
                                  th:if="${errors.containsKey('name')}"></span>
                        </div>
                         <div class="input-field">
                            <input type="text" name="url" th:value="${sponsor.url}" id="url"
                                   th:class="|validate ${errors.containsKey('url') ? 'invalid' : ''}|">
                            <label for="url">URL</label>
                            <span class="helper-text" th:data-error="${errors.get('url')}" data-success=""
                                  th:if="${errors.containsKey('url')}"></span>
                        </div>
                        <div class="input-field file-field">
                            <div class="btn">
                                <span><i class="material-icons">LOGO</i></span>
                                <input type="file" name="logo" id="logo">
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate" title="Image name">
                            </div>
                        </div>
                        <div class="input-field">
                            <textarea name="description" class="validate materialize-textarea"
                                      id="description" th:text="${sponsor.description}"></textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="input-field display-flex">
                            <div class="flex-1"></div>
                            <button class="btn-large waves-effect waves-light">
                                Submit <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{layouts/master::footer}"/>
<th:block th:include="~{layouts/master::js}"/>
<script th:src="@{/js/select2.min.js}"></script>
</body>
</html>