<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/select2-materialize.css}" rel="stylesheet">

<th:block th:include="~{layouts/master::head('Crowd Donating | Home')}" />
</head>
<body id="top" class="has-header-search">
	<th:block th:replace="~{layouts/master::header}" />


	<section class="blog-section pt-50 pb-50">
		<div class="container">
			<div class="row">
				<div class="col m8">
					<div class="col m12">
						<div class="card hoverable">
							<div class="card-content">
								<div class="row">


									<form th:action="@{/donor}" method="post"
										th:object="${donation}" 
										class="col s8 offset-s2">

										<div class="input-field">
											<input type="hidden" name="case" th:value="${donation.case.id}"
												id="idcase" required>
										</div>


										<div class="input-field">
											<input type="number" name="amount" th:value="${donation.amount}"
												id="amount" required> <label for="amount">Amount</label>
										</div>

									<!-- 	<div class="input-field">
											<input type="text" name="id" th:value="${donor.id}"
												id="username" required> <label for="username">Donor</label>
										</div> -->
										
										
										<div class="input-field">
										 <label>Bank cards</label><br/>
											<p>
												<label th:each="card:${donor.bankCards}"> 
													<input name="cardID"  type="radio" th:value="${card.id}" checked/>
													<span th:text="${card.cardNumber + ' ' + card.id}"></span>
													<br/>
												</label>
											</p>
										</div>
										
		  								 <a th:href="@{/cards/new}">Add bankCard </a>

										<div class="input-field display-flex">
											<div class="flex-1"></div>
											<button class="btn-large waves-effect waves-light">
												Submit <i class="material-icons right">send</i>
											</button>
										</div>
									</form>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="tt-sidebar-wrapper" role="complementary">
						<div class="card hoverable mt-0">
							<!--<div class="card-content">-->
							<!--<p>I am a very simple card. I am good at containing small bits of information.-->
							<!--I am convenient because I require little markup to use effectively.</p>-->
							<!--</div>-->
						</div>
						<div class="card hoverable">
							<div class="card-content p-0">
								<div class="author-info-wrapper">
									<div class="author-cover">
										<img th:src="@{'/images/cases/' + ${donation.case.image}}" alt="">
									</div>
									<div class="author-avatar">
										<img th:src="@{'/images/cases/' + ${donation.case.image}}" alt="">
										<h2 th:text="${donation.case.name}"></h2>
										<span th:text="${donation.case.amount}"></span><br /> <span
											th:text="${donation.case.deadLine}"></span><br /> <span
											th:text="${donation.case.amount}"></span>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<th:block th:replace="~{layouts/master::footer}" />
	<th:block th:include="~{layouts/master::js}" />
	<script th:src="@{/js/select2.min.js}"></script>
</body>
</html>