<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{layouts/master::head('Crowd Donating | Home')}"/>
</head>
<body id="top" class="has-header-search">
<th:block th:include="~{layouts/master::header}"/>

<!--// Main Wrapper \\-->
<div class="charity-main-wrapper">

    <!--// Main Banner \\-->
    <div class="charity-banner">

        <!--// Slider \\-->
        <div class="charity-banner-two">
            <div class="charity-banner-two-layer">
                <span class="charity-transparent-layer"></span>
                <img src="extra-images/banner-3.jpg" alt="">
                <div class="charity-banner-two-caption">
                    <div class="container">
                        <div class="row">
                            <h1 class="charity-color">Charity Start your <br> future Cause</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Maecenas aliquet quam quis molestie finibus.
                                Integer aliquam ex ut rutrum aliquam.</p>
                            <div class="clearfix"></div>
                            <a href="#" class="charity-bgcolor">Donate Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="charity-banner-two-layer">
                <span class="charity-transparent-layer"></span>
                <img src="extra-images/banner-4.jpg" alt="">
                <div class="charity-banner-two-caption charity-banner-two-caption-left">
                    <div class="container">
                        <div class="row">
                            <h1 class="charity-color">Charity Start your <br> future Cause</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Maecenas aliquet quam quis molestie finibus.
                                Integer aliquam ex ut rutrum aliquam.</p>
                            <div class="clearfix"></div>
                            <a href="#" class="charity-bgcolor">Donate Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Slider \\-->

    </div>
    <!--// Main Banner \\-->

    <!--// Main Content \\-->
    <div class="charity-main-content">

        <!--// Main Section \\-->
        <div class="charity-main-section charity-minus-margin">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="charity-fancy-title">
                            <div class="charity-fancy-title-wrap"><h2>Our Causes</h2></div>
                            <span>Lorem ipsum dolor</span></div>
                        <!--// CauseGrid \\-->
                        <div class="charity-cause charity-cause-simplegrid">
                            <ul class="row">
                                <li class="col-md-4">
                                    <figure>
                                        <a href="#"><img src="extra-images/cause-simple-grid-1.jpg" alt=""></a>
                                        <figcaption><a href="#"><i class="fa fa-users"></i> 12 Donors</a></figcaption>
                                    </figure>
                                    <section>
                                        <h4><a href="#">Donate For Children</a></h4>
                                        <p>Lorem ipsum dolor amet, onsectetde cons ectetur nulla. at ullamoe.</p>
                                    </section>
                                    <div class="skillst">
                                        <div class="progressbar1" data-width="63" data-target="63"></div>
                                    </div>
                                    <div class="cause-simplegrid-bottom">
                                        <a href="#" class="charity-donate-btn charity-bgcolor">Donate</a>
                                        <span>$ 45,000 / $ 90,000</span>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <figure>
                                        <a href="#"><img src="extra-images/cause-simple-grid-2.jpg" alt=""></a>
                                        <figcaption><a href="#"><i class="fa fa-users"></i> 28 Donors</a></figcaption>
                                    </figure>
                                    <section>
                                        <h4><a href="#">Help The Africans</a></h4>
                                        <p>Lorem ipsum dolor amet, onsectetde cons ectetur nulla. at ullamoe.</p>
                                    </section>
                                    <div class="skillst">
                                        <div class="progressbar1" data-width="75" data-target="75"></div>
                                    </div>
                                    <div class="cause-simplegrid-bottom">
                                        <a href="#" class="charity-donate-btn charity-bgcolor">Donate</a>
                                        <span>$ 45,000 / $ 90,000</span>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <figure>
                                        <a href="#"><img src="extra-images/cause-simple-grid-3.jpg" alt=""></a>
                                        <figcaption><a href="#"><i class="fa fa-users"></i> 34 Donors</a></figcaption>
                                    </figure>
                                    <section>
                                        <h4><a href="#">Donate For Children</a></h4>
                                        <p>Lorem ipsum dolor amet, onsectetde cons ectetur nulla. at ullamoe.</p>
                                    </section>
                                    <div class="skillst">
                                        <div class="progressbar1" data-width="34" data-target="34"></div>
                                    </div>
                                    <div class="cause-simplegrid-bottom">
                                        <a href="#" class="charity-donate-btn charity-bgcolor">Donate</a>
                                        <span>$ 45,000 / $ 90,000</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--// CauseGrid \\-->
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section charity-our-services-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="charity-fancy-title charity-fancy-title-white">
                            <div class="charity-fancy-title-wrap"><h2>Our sERVICES</h2></div>
                            <span>Lorem ipsum dolor</span></div>
                        <!--// Services \\-->
                        <div class="charity-service charity-simple-service">
                            <ul class="row">
                                <li class="col-md-4">
                                    <span><i class="icon-users-group"></i></span>
                                    <h3>Protect Children</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Etiam dui velit, posuere a volutpat
                                        amet.</p>
                                </li>
                                <li class="col-md-4">
                                    <span><i class="icon-books-stack-of-three"></i></span>
                                    <h3>Free Education</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Etiam dui velit, posuere a volutpat
                                        amet.</p>
                                </li>
                                <li class="col-md-4">
                                    <span><i class="icon-donation2"></i></span>
                                    <h3>Give Shelter</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Etiam dui velit, posuere a volutpat
                                        amet.</p>
                                </li>
                            </ul>
                        </div>
                        <!--// Services \\-->
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section charity-blog-grid-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="charity-fancy-title">
                            <div class="charity-fancy-title-wrap"><h2>Our blogs</h2></div>
                            <span>Lorem ipsum dolor</span></div>
                        <!--// Blog's \\-->
                        <div class="charity-blog charity-blog-grid">
                            <ul class="row">
                                <li class="col-md-4">
                                    <figure>
                                        <a href="#"><img src="extra-images/blog-grid-1.jpg" alt=""> <span class="charity-bloggrid-hover"><i
                                                class="icon-share4"></i></span> </a>
                                        <figcaption>
                                            <time datetime="2008-02-14 20:00" class="charity-bgcolor">18 <span>AUG</span></time>
                                            <ul class="charity-grid-options">
                                                <li><i class="fa fa-user"></i> By <a href="#">Bastian B</a></li>
                                                <li><i class="fa fa-comments-o"></i> <a href="#">4 Comments</a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <section>
                                        <h4><a href="#">Gone To Ghana For Africans</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipng elit. Etiam dui velit, posuere a voluat sitamet,
                                            egestas ac ante.</p>
                                        <a href="#" class="charity-read-more charity-bgcolor">Read More <i
                                                class="fa fa-angle-right"></i></a>
                                    </section>
                                </li>
                                <li class="col-md-4">
                                    <figure>
                                        <a href="#"><img src="extra-images/blog-grid-2.jpg" alt=""> <span class="charity-bloggrid-hover"><i
                                                class="icon-share4"></i></span> </a>
                                        <figcaption>
                                            <time datetime="2008-02-14 20:00" class="charity-bgcolor">14 <span>AUG</span></time>
                                            <ul class="charity-grid-options">
                                                <li><i class="fa fa-user"></i> By <a href="#">Bastian B</a></li>
                                                <li><i class="fa fa-comments-o"></i> <a href="#">4 Comments</a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <section>
                                        <h4><a href="#">Give The Shelters To Needy</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipng elit. Etiam dui velit, posuere a voluat sitamet,
                                            egestas ac ante.</p>
                                        <a href="#" class="charity-read-more charity-bgcolor">Read More <i
                                                class="fa fa-angle-right"></i></a>
                                    </section>
                                </li>
                                <li class="col-md-4">
                                    <figure>
                                        <a href="#"><img src="extra-images/blog-grid-3.jpg" alt=""> <span class="charity-bloggrid-hover"><i
                                                class="icon-share4"></i></span> </a>
                                        <figcaption>
                                            <time datetime="2008-02-14 20:00" class="charity-bgcolor">22 <span>AUG</span></time>
                                            <ul class="charity-grid-options">
                                                <li><i class="fa fa-user"></i> By <a href="#">Bastian B</a></li>
                                                <li><i class="fa fa-comments-o"></i> <a href="#">4 Comments</a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <section>
                                        <h4><a href="#">Education Needed For Childrens</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipng elit. Etiam dui velit, posuere a voluat sitamet,
                                            egestas ac ante.</p>
                                        <a href="#" class="charity-read-more charity-bgcolor">Read More <i
                                                class="fa fa-angle-right"></i></a>
                                    </section>
                                </li>
                            </ul>
                        </div>
                        <!--// Blog's \\-->
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section">
            <div class="container-fluid">
                <div class="row">


                    <div class="charity-fancy-title">
                        <div class="charity-fancy-title-wrap"><h2>Our Gallery</h2></div>
                        <span>Lorem ipsum dolor</span></div>
                    <!--// Gallery \\-->
                    <div class="charity-filterable">
                        <ul class="filters-button-group">
                            <li><a data-filter="*" class="charity-active" href="javascript:void(0)"> All
                                <span class="charity-left-top-border"></span>
                                <span class="charity-right-top-border"></span>
                                <span class="charity-left-bottom-border"></span>
                                <span class="charity-right-bottom-border"></span>
                            </a></li>
                            <li><a data-filter=".metal" href="javascript:void(0)" class="">Education
                                <span class="charity-left-top-border"></span>
                                <span class="charity-right-top-border"></span>
                                <span class="charity-left-bottom-border"></span>
                                <span class="charity-right-bottom-border"></span>
                            </a></li>
                            <li><a data-filter=".transition" href="javascript:void(0)" class="">Health
                                <span class="charity-left-top-border"></span>
                                <span class="charity-right-top-border"></span>
                                <span class="charity-left-bottom-border"></span>
                                <span class="charity-right-bottom-border"></span>
                            </a></li>
                            <li><a data-filter=".ium" href="javascript:void(0)" class="">Jobs
                                <span class="charity-left-top-border"></span>
                                <span class="charity-right-top-border"></span>
                                <span class="charity-left-bottom-border"></span>
                                <span class="charity-right-bottom-border"></span>
                            </a></li>
                            <li><a data-filter=".metal" href="javascript:void(0)" class="">Graveyard
                                <span class="charity-left-top-border"></span>
                                <span class="charity-right-top-border"></span>
                                <span class="charity-left-bottom-border"></span>
                                <span class="charity-right-bottom-border"></span>
                            </a></li>
                            <li><a data-filter=".transition" href="javascript:void(0)" class="">Orphanage
                                <span class="charity-left-top-border"></span>
                                <span class="charity-right-top-border"></span>
                                <span class="charity-left-bottom-border"></span>
                                <span class="charity-right-bottom-border"></span>
                            </a></li>
                        </ul>
                    </div>
                    <div class="charity-gallery charity-masonery-gallery">
                        <ul>
                            <li class="element-item metal col-md-2">
                                <figure>
                                    <img src="extra-images/gallery-modren-1.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-1.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus ultricies</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="element-item transition col-md-4">
                                <figure>
                                    <img src="extra-images/gallery-modren-2.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-2.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus dapibus ultricies</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="element-item ium col-md-4">
                                <figure>
                                    <img src="extra-images/gallery-modren-3.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-3.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus dapibus ultricies</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="element-item metal col-md-2">
                                <figure>
                                    <img src="extra-images/gallery-modren-4.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-4.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus dapibus</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="element-item transition col-md-4">
                                <figure>
                                    <img src="extra-images/gallery-modren-5.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-5.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus dapibus ultricies</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="element-item ium col-md-2">
                                <figure>
                                    <img src="extra-images/gallery-modren-6.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-6.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus ultricies</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="element-item transition col-md-2">
                                <figure>
                                    <img src="extra-images/gallery-modren-7.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-7.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus ultricies</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="element-item ium col-md-4">
                                <figure>
                                    <img src="extra-images/gallery-modren-8.jpg" alt="">
                                    <figcaption>
                                        <div class="charity-masonery-hover">
                                            <span class="charity-left-top-border"></span>
                                            <span class="charity-right-top-border"></span>
                                            <span class="charity-left-bottom-border"></span>
                                            <span class="charity-right-bottom-border"></span>
                                        </div>
                                        <div class="charity-masonery-caption">
                                            <a data-fancybox-group="group" href="extra-images/gallery-modren-8.jpg"
                                               class="fancybox charity-gallery-btn"><i class="icon-add2"></i></a>
                                            <a href="#" class="charity-gallery-btn"><i class="icon-link4"></i></a>
                                            <h4>Praesent dapibus dapibus ultricies</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <!--// Gallery \\-->


                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section charity-team-medium-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="charity-fancy-title">
                            <div class="charity-fancy-title-wrap"><h2>Our Team</h2></div>
                            <span>Lorem ipsum dolor</span></div>
                        <!--// Team \\-->
                        <div class="charity-team charity-team-medium">
                            <ul class="row">
                                <li class="col-md-6">
                                    <figure><a href="#"><img src="extra-images/team-medium-1.jpg" alt=""> <span class="fa fa-link"></span>
                                    </a></figure>
                                    <section>
                                        <h4><a href="#">John Martyn</a></h4>
                                        <span>Co-director</span>
                                        <p>Lorem ipsum dor sit aet adipisc elit Etia vas</p>
                                        <ul class="charity-team-social">
                                            <li><a href="#" class="charity-colorhover fa fa-facebook"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-twitter"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-linkedin"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-vine"></a></li>
                                        </ul>
                                    </section>
                                </li>
                                <li class="col-md-6">
                                    <figure><a href="#"><img src="extra-images/team-medium-2.jpg" alt=""> <span class="fa fa-link"></span>
                                    </a></figure>
                                    <section>
                                        <h4><a href="#">Jack Jhonsen</a></h4>
                                        <span>Co-director</span>
                                        <p>Lorem ipsum dor sit aet adipisc elit Etia vas</p>
                                        <ul class="charity-team-social">
                                            <li><a href="#" class="charity-colorhover fa fa-facebook"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-twitter"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-linkedin"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-vine"></a></li>
                                        </ul>
                                    </section>
                                </li>
                                <li class="col-md-6">
                                    <figure><a href="#"><img src="extra-images/team-medium-3.jpg" alt=""> <span class="fa fa-link"></span>
                                    </a></figure>
                                    <section>
                                        <h4><a href="#">Jhon Elexander</a></h4>
                                        <span>Co-director</span>
                                        <p>Lorem ipsum dor sit aet adipisc elit Etia vas</p>
                                        <ul class="charity-team-social">
                                            <li><a href="#" class="charity-colorhover fa fa-facebook"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-twitter"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-linkedin"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-vine"></a></li>
                                        </ul>
                                    </section>
                                </li>
                                <li class="col-md-6">
                                    <figure><a href="#"><img src="extra-images/team-medium-4.jpg" alt=""> <span class="fa fa-link"></span>
                                    </a></figure>
                                    <section>
                                        <h4><a href="#">John Martyn</a></h4>
                                        <span>Co-director</span>
                                        <p>Lorem ipsum dor sit aet adipisc elit Etia vas</p>
                                        <ul class="charity-team-social">
                                            <li><a href="#" class="charity-colorhover fa fa-facebook"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-twitter"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-linkedin"></a></li>
                                            <li><a href="#" class="charity-colorhover fa fa-vine"></a></li>
                                        </ul>
                                    </section>
                                </li>
                            </ul>
                        </div>
                        <!--// Team \\-->
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section charity-counterbg-full">
            <span class="dark-black-transparent"></span>
            <div class="container">
                <div class="row">

                    <!--// Counter \\-->
                    <div class="col-md-4 charity-counter-text">
                        <h2>We are <span class="charity-color">served</span> since 35 years to helple people with trust</h2>
                        <a href="#" class="charity-counter-btn charity-color charity-bordercolor"><span>Join Us Now <i
                                class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                    <div class="col-md-8 padding-top-spacer">
                        <div class="charity-counter">
                            <ul class="row">
                                <li class="col-md-3">
                                    <i class="icon-donation2"></i>
                                    <span class="charity-color" id="word-count1">2210</span>
                                    <small>Donators</small>
                                </li>
                                <li class="col-md-3">
                                    <i class="icon-ribbon"></i>
                                    <span class="charity-color" id="word-count2">210</span>
                                    <small>Causes Solved</small>
                                </li>
                                <li class="col-md-3">
                                    <i class="icon-mortarboard"></i>
                                    <span class="charity-color" id="word-count3">957</span>
                                    <small>Volunteer</small>
                                </li>
                                <li class="col-md-3">
                                    <i class="icon-help"></i>
                                    <span class="charity-color" id="word-count4">3010</span>
                                    <small>Child Saved</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// Counter \\-->

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section charity-event-medium-full">
            <div class="container">
                <div class="row">

                    <!--// Event \\-->
                    <div class="col-md-12">
                        <div class="charity-fancy-title">
                            <div class="charity-fancy-title-wrap"><h2>Our Events</h2></div>
                            <span>Lorem ipsum dolor</span></div>
                        <div class="charity-event charity-event-medium">
                            <ul class="row">
                                <li class="col-md-6">
                                    <div class="charity-event-medium-wrap">
                                        <figure><a href="#"><img src="extra-images/event-medium-1.jpg" alt=""></a>
                                            <figcaption><a href="#">Buy Ticket</a></figcaption>
                                        </figure>
                                        <section>
                                            <h4><a href="#">Empowermnt and leader ship trainings</a></h4>
                                            <p>Phasellus accusn lacus eget nisi aliqua, ac orare quam interdum In blandit.</p>
                                            <ul class="charity-event-option">
                                                <li><i class="fa fa-calendar"></i> Dec 22, 2017 - Dec 27, 2017</li>
                                                <li><i class="fa fa-map-marker"></i> 1403 Blackwell Street 9976</li>
                                            </ul>
                                            <a href="#" class="charity-event-btn charity-bgcolorhover">View Detail</a>
                                        </section>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="charity-event-medium-wrap">
                                        <figure><a href="#"><img src="extra-images/event-medium-2.jpg" alt=""></a>
                                            <figcaption><a href="#">Buy Ticket</a></figcaption>
                                        </figure>
                                        <section>
                                            <h4><a href="#">Help end homelessness people</a></h4>
                                            <p>Phasellus accusn lacus eget nisi aliqua, ac orare quam interdum In blandit.</p>
                                            <ul class="charity-event-option">
                                                <li><i class="fa fa-calendar"></i> Dec 22, 2017 - Dec 27, 2017</li>
                                                <li><i class="fa fa-map-marker"></i> 1403 Blackwell Street 9976</li>
                                            </ul>
                                            <a href="#" class="charity-event-btn charity-bgcolorhover">View Detail</a>
                                        </section>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="charity-event-medium-wrap">
                                        <figure><a href="#"><img src="extra-images/event-medium-3.jpg" alt=""></a>
                                            <figcaption><a href="#">Buy Ticket</a></figcaption>
                                        </figure>
                                        <section>
                                            <h4><a href="#">Trinity trash bash water way cleanup</a></h4>
                                            <p>Phasellus accusn lacus eget nisi aliqua, ac orare quam interdum In blandit.</p>
                                            <ul class="charity-event-option">
                                                <li><i class="fa fa-calendar"></i> Dec 22, 2017 - Dec 27, 2017</li>
                                                <li><i class="fa fa-map-marker"></i> 1403 Blackwell Street 9976</li>
                                            </ul>
                                            <a href="#" class="charity-event-btn charity-bgcolorhover">View Detail</a>
                                        </section>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="charity-event-medium-wrap">
                                        <figure><a href="#"><img src="extra-images/event-medium-4.jpg" alt=""></a>
                                            <figcaption><a href="#">Buy Ticket</a></figcaption>
                                        </figure>
                                        <section>
                                            <h4><a href="#">Make donation day for all people</a></h4>
                                            <p>Phasellus accusn lacus eget nisi aliqua, ac orare quam interdum In blandit.</p>
                                            <ul class="charity-event-option">
                                                <li><i class="fa fa-calendar"></i> Dec 22, 2017 - Dec 27, 2017</li>
                                                <li><i class="fa fa-map-marker"></i> 1403 Blackwell Street 9976</li>
                                            </ul>
                                            <a href="#" class="charity-event-btn charity-bgcolorhover">View Detail</a>
                                        </section>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// Event \\-->

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section charity-cause-strip-full">
            <span class="charity-transparent-layer"></span>
            <div class="container">
                <div class="row">

                    <!--// Cause Strip \\-->
                    <div class="col-md-12">
                        <div class="charity-cause-strip">
                            <h2>Help Africans,Donate For A Cause</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna nibh, fringilla fermentum vulputate
                                Curabitur vel maximus magna at cursus aliquet, arcu ut massa</p>
                            <div class="charity-causestrip-section">
                                <span class="charity-left-section">Raised: <small>3250$</small></span>
                                <span class="charity-right-section">Goal: <small>5000$</small></span>
                                <div class="skillst">
                                    <div class="progressbar1" data-width="70" data-target="70"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" class="cause-strip-btn charity-color charity-bordercolor"><span>Make a Donation</span></a>
                        </div>
                    </div>
                    <!--// Cause Strip \\-->

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="charity-main-section charity-testimonials-full">
            <div class="container">
                <div class="row">

                    <!--// Testimonials \\-->
                    <div class="col-md-12">
                        <div class="charity-fancy-title">
                            <div class="charity-fancy-title-wrap"><h2>Our Testimonials</h2></div>
                            <span>Lorem ipsum dolor</span></div>
                        <div class="charity-testimonials">
                            <ul class="row">
                                <li class="col-md-6">
                                    <div class="charity-testimonials-wrap">
                                        <figure><a href="#"><img src="extra-images/testimonials-1.jpg" alt=""></a></figure>
                                        <div class="charity-testimonials-text">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu condimentum nulla,
                                                eget viverra leo. Proin id varius mi. Sed pharetra, velit a lacinia mattis"</p>
                                            <h5>Jimmy Fedrick</h5>
                                            <span>Founder</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="charity-testimonials-wrap">
                                        <figure><a href="#"><img src="extra-images/testimonials-2.jpg" alt=""></a></figure>
                                        <div class="charity-testimonials-text">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu condimentum nulla,
                                                eget viverra leo. Proin id varius mi. Sed pharetra, velit a lacinia mattis"</p>
                                            <h5>Julia Martyn</h5>
                                            <span>Director</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// Testimonials \\-->
                </div>
            </div>
          -->
        </div>
        <!--// Main Section \\-->
    </div>
    <!--// Main Content \\-->
</div>
<!--// Main Wrapper \\-->

<th:block th:replace="~{layouts/master::footer}"/>
<th:block th:include="~{layouts/master::js}"/>
</body>
</html>