<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{layouts/master::head('Crowd Donating | Home')}"/>
</head>
<body id="top" class="has-header-search">
<th:block th:replace="~{layouts/master::header}"/>

<section class="page-title ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Hna kaykoun title dial l page (Optional)</h2>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">title</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col s12">
               
               <div th:each="case:${cases}">
               			
					<div class="row">
						<div class="col s12">

							<h3 th:text="${case.label}"></h3>
							<h4 th:text="${case.amount}"></h4>
							<h4 th:text="${case.description}"></h4>
							<h4 th:text="${case.deadLine}"></h4>

						</div>


					</div>
               </div>
               
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{layouts/master::footer}"/>
<th:block th:include="~{layouts/master::js}"/>
</body>
</html>