<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="~{layouts/master::head('Crowd Donating | Home')}" />
<link th:href="@{/css/shortcodes/blog.css}" rel="stylesheet">
</head>
<body id="top" class="has-header-search">
	<th:block th:replace="~{layouts/master::header}" />

	<section class="blog-section pt-50 pb-50">
		<div class="container">
			<div class="row">
				<div class="col m8">
					<div class="col m12">
						<div class="card hoverable mt-0">
							<div class="card-content p-0">
								<div class="posts-content single-post">
									<article class="post-wrapper">
										<header class="entry-header-wrapper clearfix">
											<div class="author-thumb waves-effect waves-light">
												<a href="#"> <img
													th:src="@{'/images/users/' + ${case.association.avatar}}"
													alt="">
												</a>
											</div>
											<div class="entry-header">
												<h2 class="entry-title mb-0" th:text="${case.name}"></h2>
												<div class="entry-meta">
													<ul class="display-inline-flex m-0">
														<li><i class="fa fa-user"></i> <a href="#"
															th:text="${case.association.name}"></a></li>
														<li><i class="fa fa-clock-o"></i> <a
															th:text="${#calendars.format(case.deadLine,'MMM dd, yyyy')}"
															href="#"></a></li>
													</ul>
												</div>
												<div class="">
													<form th:action="@{'/cases/' + ${case.id}}"
														th:method="delete">
														<button th:type="submit" class="btn right red">Delete</button>
													</form>
													<a th:href="@{'/cases/update/' + ${case.slug}}"
														class="btn right mr-8">Update</a>
												</div>
											</div>
										</header>
										<div class="thumb-wrapper">
											<img th:src="@{'/images/cases/' + ${case.image}}"
												class="img-responsive" alt="">
										</div>
										<div class="entry-content">
											<p th:text="${case.description}"></p>
										</div>
										<footer class="entry-footer">
											<div class="post-tags">
												<span class="tags-links"> <i class="fa fa-tags"></i>
													<a href="#" th:each="type:${case.types}" rel="tag"
													th:text="${type.label}"></a>
												</span>
											</div>
										</footer>
									</article>
								</div>
							</div>
						</div>
					</div>
					<div class="col m12">
						<div class="card hoverable">
							<div class="card-content">
								<div class="row">
									<div class="col s4">
										<div
											class="featured-item border-box radius-4 hover brand-hover"
											data-vivaldi-spatnav-clickable="1">
											<div class="icon mb-30">
												<i class="material-icons brand-icon">date_range</i>
											</div>
											<div class="desc">
												<h2>Dead line</h2>
												<h2>
													<span class="timer"
														th:text="${#calendars.format(case.deadLine,'MMM dd, yyyy')}"></span>
												</h2>
											</div>
										</div>
									</div>
									<div class="col s4">
										<div
											class="featured-item border-box radius-4 hover brand-hover"
											data-vivaldi-spatnav-clickable="1">
											<div class="icon mb-30">
												<i class="material-icons brand-icon">favorite</i>
											</div>
											<div class="desc">
												<h2>Donations</h2>
												<h2>
													<span class="timer" th:text="${donatingNumber}"></span>
												</h2>
											</div>
										</div>
									</div>
									<div class="col s4">
										<div
											class="featured-item border-box radius-4 hover brand-hover"
											data-vivaldi-spatnav-clickable="1">
											<div class="icon mb-30">
												<i class="material-icons brand-icon">attach_money</i>
											</div>
											<div class="desc">
												<h2>Amount</h2>
												<h2>
													<span class="timer"><th:block
															th:text="${case.amount}" /></span>MAD
												</h2>
											</div>
										</div>
									</div>
									<div class="col s12">
										<div class="post-wrapper mt-20 mb-20">
											<div class="progress-section">
												<span class="progress-title">Total</span>
												<div class="progress">
													<div class="progress-bar brand-bg six-sec-ease-in-out"
														role="progressbar" aria-valuenow="75" aria-valuemin="0"
														aria-valuemax="100">
														<span th:text="${totalDonations}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col s12">
										<div class="display-flex">
											<div class="flex-2"></div>
											<div class="card hoverable mt-0 flex-2">
												<a th:href="@{'/donor/donate/' + ${case.slug}}"
													class="card-action pink lighten-1 center display-block">
													<span class="grey-text text-lighten-5 mr-0">Donate
														now!</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col m12">
						<div class="card hoverable">
							<div class="card-content">
								<div class="row">
									<div class="tab-content">
										<div class="table-responsive">
											<table class="table centered">
												<thead>
													<tr>
														<th>Donator</th>
														<th>Amount</th>
														<th>Date</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="don:${case.donations}">
														<td th:text="${don.bankCard.donor.name}"></td>
														<td th:text="${don.amount}"></td>
														<td th:text="${#calendars.format(don.date,'MMM dd, yyyy')}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="tt-sidebar-wrapper" role="complementary">
						<div class="card hoverable mt-0">
							<!--<div class="card-content">-->
							<!--<p>I am a very simple card. I am good at containing small bits of information.-->
							<!--I am convenient because I require little markup to use effectively.</p>-->
							<!--</div>-->
							<a th:href="@{'/donor/donate/' + ${case.slug}}"
								class="card-action pink lighten-1 center display-block"> <span
								class="grey-text text-lighten-5 mr-0">Donate now!</span>
							</a>
						</div>
						<div class="card hoverable">
							<div class="card-content p-0">
								<div class="author-info-wrapper">
									<div class="author-cover">
										<img th:src="@{'/images/users/' + ${case.association.cover}}"
											alt="">
									</div>
									<div class="author-avatar">
										<img th:src="@{'/images/users/' + ${case.association.avatar}}"
											alt="">
										<h2 th:text="${case.association.name}"></h2>
										<span th:text="${case.association.email}"></span>
									</div>
									<p th:text="${case.association.description}"></p>
									<div class="author-social-links center">
										<ul class="display-inline-flex">
											<li class="pl-5 pr-5"><a href="#" target="_blank"><i
													class="fa fa-facebook"></i></a></li>
											<li class="pl-5 pr-5"><a href="#" target="_blank"><i
													class="fa fa-twitter"></i></a></li>
											<li class="pl-5 pr-5"><a href="#" target="_blank"><i
													class="fa fa-google-plus"></i></a></li>
											<li class="pl-5 pr-5"><a href="#" target="_blank"><i
													class="fa fa-linkedin"></i></a></li>
											<li class="pl-5 pr-5"><a href="#" target="_blank"><i
													class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<th:block th:replace="~{layouts/master::footer}" />
	<th:block th:include="~{layouts/master::js}" />
</body>
</html>