<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{layouts/master::head('Crowd Donating | Home')}"/>
  <link rel="stylesheet" th:href="@{/css/shortcodes/blog.css}"/>
  <link rel="stylesheet" th:href="@{/admin/js/plugins/sweetalert2/sweetalert2.min.css}"/>
</head>
<body id="top" class="has-header-search">
<div class="charity-main-wrapper">
  <th:block th:include="~{layouts/master::header}"/>

  <div class="charity-subheader-two">
    <span class="charity-footer-transparent"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="charity-page-title"><h1 th:text="#{cause.details}"></h1></div>
          <ul class="charity-breadcrumb">
            <li><a href="index-2.html" th:text="#{home}"></a></li>
            <li class="active" th:text="#{cause.details}"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="charity-main-content">
    <!--// Main Section \\-->
    <div class="charity-main-section">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="charity-rich-editor charity-cause-detail mb-0">
              <figure class="charity-cause-thumb">
                <img th:src="@{'/images/cases/' + ${case.image}}" alt="">
              </figure>
              <h3 th:text="${case.name}"></h3>
              <ul class="charity-cause-options">
                <li>
                  <i class="fa fa-clock-o"></i>
                  <h6 th:text="#{cause.deadLine}"></h6>
                  <span th:text="${#calendars.format(case.deadLine,'MMM dd, yyyy')}"></span>
                  <!--<span>19 days left</span>-->
                </li>
                <li>
                  <i class="fa fa-heartbeat"></i>
                  <h6 th:text="#{cause.donations}"></h6>
                  <span th:text="${case.nbreDonations}"></span>
                </li>
                <li></li>
              </ul>
              <div class="charity-cause-donate">
                <div class="skillst">
                  <h6><span th:text="#{cause.raised}"></span><span th:text="| : ${case.amountRaised} MAD|"></span></h6>
                  <h6><span th:text="#{cause.goal}"></span><span th:text="| : ${case.amount} MAD|"></span></h6>
                  <div class="progressbar1"
                       th:data-width="${#numbers.formatDecimal(case.percentageRaised, 0, 2)}"
                       th:data-target="${case.amount}">
                  </div>
                </div>
                <a th:href="@{'/cases/' + ${case.slug} + '/donate'}" class="charity-plan-btn">
                  <i class="fa fa-paypal"></i> <span th:text="#{cause.donate}"></span>
                </a>
                <ul class="charity-cause-social">
                  <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                  <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                  <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                  <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                  <li><a href="https://www.vimeo.com/" class="fa fa-vimeo"></a></li>
                </ul>
              </div>
              <div th:text="${case.description}" class="display-inline-block width-100"></div>
            </div>
            <div class="charity-tags-wrap">
              <div class="charity-post-tags">
                <div class="charity-tags">
                  <span th:text="#{tag.tags}"></span>
                  <a href="#" th:each="type, iter :${case.types}" rel="tag"
                     th:text="${#strings.concat(iter.index > 0 ? ' / ' : '', type.label)}">
                  </a>
                </div>
                <div class="charity-blog-social">
                  <span th:text="#{share.share}"></span>
                  <ul>
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                    <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                    <li><a href="https://www.vimeo.com/" class="fa fa-vimeo"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <h2 class="charity-section-heading" th:text="${case.association.name}"></h2>
            <div class="charity-admin-post">
              <figure>
                <a href="404.html">
                  <img th:src="@{'/images/users/' + ${case.association.avatar}}" alt="">
                </a>
                <figcaption>
                  
                </figcaption>
              </figure>
              <div class="charity-admin-post-text">
                <p th:text="${case.association.description}"></p>
                <ul class="charity-admin-social">
                  <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                  <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                  <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                  <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                  <li><a href="https://www.vimeo.com/" class="fa fa-vimeo"></a></li>
                </ul>
              </div>
            </div>
          </div>

          <aside class="col-md-3">

            <!--// Widget Featured Causes \\-->
            <div class="widget widget_featured_causes">
              <h2 class="charity-widget-title" th:text="#{cause.feature}"></h2>
              <ul th:each="case: ${cases}">
                <li>
                  <figure><a href="cause-detail.html"><img
                      th:src="@{'/images/cases/' + ${case.image}}" alt=""></a>
                  </figure>
                  <div class="charity-featured-text">
                    <h6><a href="cause-detail.html" th:text="${case.name}"></a></h6>
                    <div class="skillst">
                      <div class="progressbar1" th:data-width="${#numbers.formatDecimal(case.percentageRaised, 0, 2)}"
                       th:data-target="${case.amount}"></div>
                      <span th:text="${case.amountRaised + '/' + case.amount}"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!--// Widget Featured Causes \\-->

            <!--// Widget upcomimg events \\-->
            <div class="widget widget_events">
              <h2 class="charity-widget-title" th:text="#{event.upcoming}"></h2>
              <ul th:each="event: ${events}">
                <li>
                  <time datetime="2008-02-14 20:00" th:text="${#calendars.format(event.plannedDate, 'MMM dd')}"></time>
                  <div class="charity-events">
                    <h6><a th:href="@{'/events/' + ${event.id}}" th:text="${event.title}"></a></h6>
                    <a href="event-detail.html"><i class="fa fa-map-marker"></i><span th:text="${event.address}"></span></a>
                  </div>
                </li>
               
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <!--// Main Section \\-->

  </div>
</div>

<th:block th:replace="~{layouts/master::footer}"/>
<th:block th:include="~{layouts/master::js}"/>
<script th:src="@{/admin/js/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script th:if="${(param.success != null) and (param.success[0] == 'true')}">
    Swal(
        'Good job!',
        'Your donation have been sent successfully!',
        'success'
    );
</script>
</body>
</html>