<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{layouts/master::head('Crowd Donating | Home')}"/>
  <link th:href="@{/css/shortcodes/blog.css}" rel="stylesheet">
</head>
<body id="top" class="has-header-search">
<div class="charity-main-wrapper">
  <th:block th:include="~{layouts/master::header}"/>

  <div class="charity-subheader-two">
    <span class="charity-footer-transparent"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="charity-page-title"><h1>Cause Detail</h1></div>
          <ul class="charity-breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li class="active">Cause Detail</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="charity-main-content">
    <!--// Main Section \\-->
    <div class="charity-main-section">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="charity-rich-editor charity-cause-detail mb-0">
              <figure class="charity-cause-thumb">
                <img th:src="@{'/images/cases/' + ${case.image}}" alt="">
              </figure>
              <h3 th:text="${case.name}"></h3>
              <ul class="charity-cause-options">
                <li>
                  <i class="fa fa-clock-o"></i>
                  <h6>Remaining Time:</h6>
                  <span th:text="${#calendars.format(case.deadLine,'MMM dd, yyyy')}"></span>
                  <!--<span>19 days left</span>-->
                </li>
                <li>
                  <i class="fa fa-heartbeat"></i>
                  <h6>Donations:</h6>
                  <span th:text="${donationsCount}"></span>
                </li>
                <li></li>
              </ul>
              <div class="charity-cause-donate">
                <div class="skillst">
                  <h6>Raised: <span th:text="|${donationsTotal} MAD|"></span></h6>
                  <h6>Goal: <span th:text="|${case.amount} MAD|"></span></h6>
                  <div class="progressbar1" th:data-width="${#numbers.formatDecimal(donationsPercentage, 0, 0)}"
                       th:data-target="${#numbers.formatDecimal(donationsPercentage, 0, 0)}"></div>
                </div>
                <a th:href="@{'/cases/' + ${case.slug} + '/donate'}" class="charity-plan-btn" th:text="#{cause.donate}"><i
                        class="fa fa-heart"></i></a>
                <ul class="charity-cause-social">
                  <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                  <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                  <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                  <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                  <li><a href="https://www.vimeo.com/" class="fa fa-vimeo"></a></li>
                </ul>
              </div>
              <div th:text="${case.description}" class="display-inline-block width-100"></div>
            </div>
            <div class="charity-tags-wrap">
              <div class="charity-post-tags">
                <div class="charity-tags">
                  <span>Tags:</span>
                  <a href="#" th:each="type, iter :${case.types}" rel="tag"
                     th:text="${#strings.concat(iter.index > 0 ? ' / ' : '', type.label)}">
                  </a>
                </div>
                <div class="charity-blog-social">
                  <span>Share:</span>
                  <ul>
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                    <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                    <li><a href="https://www.vimeo.com/" class="fa fa-vimeo"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <h2 class="charity-section-heading">Admin Post</h2>
            <div class="charity-admin-post">
              <figure>
                <a href="404.html"><img th:float="left" th:src="@{'/images/users/' + ${case.association.avatar}}" alt=""></a>
                <figcaption>
                  <h6><a href="404.html" th:text="${case.association.name}"></a></h6>
                  <span>Association</span>
                </figcaption>
              </figure>
              <div class="charity-admin-post-text">
                <p th:text="${case.association.description}"></p>
                <ul class="charity-admin-social">
                  <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                  <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                  <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                  <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                  <li><a href="https://www.vimeo.com/" class="fa fa-vimeo"></a></li>
                </ul>
              </div>
            </div>
          </div>

          <aside class="col-md-3">

            <!--// Widget Featured Causes \\-->
            <div class="widget widget_featured_causes">
              <h2 class="charity-widget-title">Featured Causes</h2>
              <ul>
                <li>
                  <figure><a href="cause-detail.html"><img src="/extra-images/featured-causes-img1.png" alt=""></a>
                  </figure>
                  <div class="charity-featured-text">
                    <h6><a href="cause-detail.html">Fusce finibus prus co</a></h6>
                    <div class="skillst">
                      <div class="progressbar1" data-width="65" data-target="65"></div>
                      <span>Raised 275$ / </span>
                      <span> Goal 4000$</span>
                    </div>
                  </div>
                </li>
                <li>
                  <figure><a href="cause-detail.html"><img src="/extra-images/featured-causes-img2.png" alt=""></a>
                  </figure>
                  <div class="charity-featured-text">
                    <h6><a href="cause-detail.html">Fusce finibus prus co</a></h6>
                    <div class="skillst">
                      <div class="progressbar1" data-width="65" data-target="65"></div>
                      <span>Raised 275$ / </span>
                      <span> Goal 4000$</span>
                    </div>
                  </div>
                </li>
                <li>
                  <figure><a href="cause-detail.html"><img src="/extra-images/featured-causes-img3.png" alt=""></a>
                  </figure>
                  <div class="charity-featured-text">
                    <h6><a href="cause-detail.html">Fusce finibus prus co</a></h6>
                    <div class="skillst">
                      <div class="progressbar1" data-width="65" data-target="65"></div>
                      <span>Raised 275$ / </span>
                      <span> Goal 4000$</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!--// Widget Featured Causes \\-->

            <!--// Widget upcomimg events \\-->
            <div class="widget widget_events">
              <h2 class="charity-widget-title">Upcoming Events</h2>
              <ul>
                <li>
                  <time datetime="2008-02-14 20:00">22 Aug</time>
                  <div class="charity-events">
                    <h6><a href="event-detail.html">Fusce fibus purus cos vulputate</a></h6>
                    <a href="event-detail.html"><i class="fa fa-map-marker"></i> 1403 Blackwell Street 9976</a>
                  </div>
                </li>
                <li>
                  <time datetime="2008-02-14 20:00">13 Sep</time>
                  <div class="charity-events">
                    <h6><a href="event-detail.html">Fusce fibus purus cos vulputate</a></h6>
                    <a href="event-detail.html"><i class="fa fa-map-marker"></i> 1403 Blackwell Street 9976</a>
                  </div>
                </li>
                <li>
                  <time datetime="2008-02-14 20:00">07 Dec</time>
                  <div class="charity-events">
                    <h6><a href="event-detail.html">Fusce fibus purus cos vulputate</a></h6>
                    <a href="event-detail.html"><i class="fa fa-map-marker"></i> 1403 Blackwell Street 9976</a>
                  </div>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <!--// Main Section \\-->

  </div>
</div>

<th:block th:replace="~{layouts/master::footer}"/>
<th:block th:include="~{layouts/master::js}"/>
</body>
</html>